body {
  font-family: "Source Sans Pro","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 16px;
  line-height: 1.42857;
  color: #3b3b3b;
  -webkit-background-size: 100% auto;

-moz-background-size: 100% auto;

-ms-background-size: 100% auto;

-o-background-size: 100% auto;

background-size: 100% auto;
}

.ui-overlay-a,.ui-page-theme-a,.ui-page-theme-a .ui-panel-wrapper{
     -webkit-background-size: 100% auto;

-moz-background-size: 100% auto;

-ms-background-size: 100% auto;

-o-background-size: 100% auto;

background-size: 100% auto;
    border-color: #bbb;
    background: rgba(#000000);
    text-shadow: none;
}

.ui-table{
	border:0;
	border: none;
	border-collapse:collapse;
	padding:0
}


.ui-input-text input, .ui-input-search input {
    margin: 0;
    min-height: 2.2em;
    text-align: left;
    border: 0;
    background: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.ui-corner-all {
    border-radius: 0 !important;
}

.pickshift{
	margin-top: 30px;
	width: 250px;
	color:#3b3b3b;
}

